@using Vserv.Accounting.Web.Helpers
@using Vserv.Accounting.Web.Models
@using Vserv.Accounting.Web.Controllers
@model dynamic

@{
    ViewBag.Title = "Security Questions";
}
<ul class="nav nav-tabs">
    <li class="active"><a href="#security-questions" data-toggle="tab">@ViewBag.Title</a></li>
</ul>
<div class="tab-content" ng-controller="SecurityQuestionsController as vm">
    <div class="tab-pane fade active in padding-top10" id="security-questions">
        <div class="row">
            <div class="col-lg-12">
                @(Html.Angular().GridFor<AccountController>(c => c.GetSecurityQuestions())
                        .Title("Security Questions")
                        .Columns<SecurityQuestionModel>(config =>
                        {
                            //config.Add(x => x.SecurityQuestionId);
                            config.Add(x => x.Question);
                        }))
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
</div>