<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Appraisal History</h3>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        @*<div class="row">
                <div class="col-md-6">
                    <div class="gridStyle" ui-grid="employeeAppraisalHistoryGridOptions"></div>
                </div>
            </div>*@
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr class="success">
                        <th title="">Effective From</th>
                        <th title="">Cost to Company(CTC)</th>
                        <th title="">% Growth</th>
                        <th title="">View Breakup</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="history in employeeAppraisalHistory">
                        <td>{{history.CurrentEffectiveFrom}}</td>
                        <td>{{history.CurrentCTC | currency:'&#8377;':0}}</td>
                        <td>{{history.PercentageGrowth}}</td>
                        <td><a class="btn btn-xs btn-block btn-primary" href="#" title="View">View</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        @*<div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover" id="dataTables-emp-appraisal-history">
                <thead>
                    <tr>
                        <th title="">Effective From</th>
                        <th title="">Cost to Company(CTC)</th>
                        <th title="">% Growth</th>
                        <th title="">View Breakup</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="odd gradeX" ng-repeat="history in employeeAppraisalHistory">
                        <td>{{history.CurrentEffectiveFrom}}</td>
                        <td>{{history.CurrentCTC}}</td>
                        <td>{{history.PercentageGrowth}}</td>
                        <td><a class="btn btn-xs btn-block btn-primary" href="#" title="View">View</a></td>
                    </tr>
                </tbody>
            </table>
        </div>*@
        <!-- /.table-responsive -->
    </div>
</div>
<!-- /.panel-body -->
<!-- /.panel -->
<script type="text/javascript">
    $(function () {
        $('#dataTables-emp-appraisal-history').DataTable({
            responsive: true,
            select: true,
            processing: true,
            lengthMenu: [[5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, "All"]],
            pageLength: 5
        });
    })
</script>
