<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pie-chart fa-fw"></i> Appraisal Graph</h3>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <nvd3 options='vm.appraisalHistoryGraphOptions' data='vm.appraisalHistoryGraphData'></nvd3>
    </div>
</div>