<div class="row form-horizontal">
    <div class="col-md-12">
        <div class="form-group">
            <div class="col-md-8">
                &nbsp;
            </div>
            <label for="" class="col-md-2 control-label">Financial Year</label>
            <div class="col-md-2">
                <select class="form-control" ng-model="vm.selectedInvestmentFinancialYear" ng-change="onChangeInvestmentFinancialYear()">
                    <option ng-repeat="x in vm.financialYears" value="{{x.currentYear}}">{{x.financialYear}}</option>
                </select>
            </div>
        </div>
    </div>
</div>
<add-employee-investments vmodel="vm"></add-employee-investments>