<div class="row form-horizontal">
    <div class="col-md-12">
        <div class="form-group">
            <div class="col-md-8">
                &nbsp;
            </div>
            <label for="" class="col-md-2 control-label">Financial Year</label>
            <div class="col-md-2">
                <select class="form-control" ng-model="vm.selectedInvestmentFinancialYear" ng-change="onChangeInvestmentFinancialYear()">
                    <option ng-repeat="x in vm.financialYears" value="{{x.currentYear}}">{{x.financialYear}}</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div ng-repeat="category in vm.empInvestmentDeclarationModel.InvestmentCategories">
    <div ng-switch="category.Code">
        <div ng-switch-when="ICHOREAL">
            <fieldset id="fieldset-HRA">
                <legend><span class="badge">1</span> {{category.Name}}</legend>
                <div class="alert alert-dismissible alert-info">
                    <p>Please enter your Monthly Rent details as per the Rent Receipt and Lease Deed.</p>
                    Note:- If the Employee is paying the rent below Rs.3000/- per month, he/she need not furnish the Rent Receipts (Circular No:8/2007 Dt: 05.Dec.2007).
                </div>
                <div class="row">
                    <div class="col-lg-3" ng-repeat="subCat in category.InvestmentSubCategories">
                        <div class="form-group">
                            <label class="control-label" for="focusedInput">{{getHRALabel(subCat)}}</label>
                            <input class="form-control" id="focusedInput" ng-model="subCat.DefaultAmount" value="" type="text">
                        </div>

                    </div>
                </div>
            </fieldset>
        </div>
        <div ng-switch-default>
            <fieldset id="fieldset-permanent-address">
                <legend><span class="badge">{{category.DisplayOrder}}</span> {{category.Name}}</legend>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <table class="table table-striped table-hover ">
                                <thead>
                                    <tr>
                                        <th>Particulars</th>
                                        <th>Maximum Limit (Rs.)</th>
                                        <th>Amount Rs.</th>
                                        <th>Remarks</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="active" ng-repeat="subCat in category.InvestmentSubCategories">
                                        <td>{{subCat.Name}}<br />{{subCat.Description}}</td>
                                        <td>{{subCat.MaximumLimit}}</td>
                                        <td><input class="form-control input-sm" id="focusedInput" ng-model="subCat.DefaultAmount" type="text"></td>
                                        <td>{{subCat.Remark}}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="bs-component">
            <div class="alert alert-dismissible alert-warning">
                <p><input type="checkbox" ng-model="isAgreed" />  I here by declare that Information as stated above is true and correct . I also authorize the company to recover tax (TDS) from my salary based on the PROOFS Submitted by me.  I am personally liable to Income Tax proceedings for any misstatements in the declaration or proofs submitted herewith if they are inconsistent with the requirement of Income Tax Act, 1961.</p><br />
                I undertake to make the investments under various sections of the Income Tax Act not later than 50% on 20-12-2016 and rest on 14-02-2017
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group pull-right">
            <button type="reset" class="btn btn-warning">Reset</button>
            <button type="submit" ng-click="addEmployeeInvestments()" class="btn btn-success" ng-disabled="!isAgreed">Save</button>
        </div>
    </div>
</div>




