<div class="row form-horizontal">
    <div class="col-md-12">
        <div class="form-group">
            <div class="col-md-8">
                &nbsp;
            </div>
            <label for="" class="col-md-2 control-label">Financial Year</label>
            <div class="col-md-2">
                <select class="form-control" ng-model="selectedFinancialYear" ng-change="onChangeFinancialYear()">
                    <option ng-repeat="x in FinancialYears" value="{{x.currentYear}}">{{x.financialYear}}</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-show="paysheets.length > 0 ">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr class="success">
                        <th>&nbsp;</th>
                        <th>April</th>
                        <th>May</th>
                        <th>June</th>
                        <th>July</th>
                        <th>August</th>
                        <th>September</th>
                        <th>October</th>
                        <th>November</th>
                        <th>December</th>
                        <th>January</th>
                        <th>February</th>
                        <th>March</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody ng-repeat="item in paysheets">
                    <tr class="warning" ng-show="item.SCDescription=='Medical'">
                        <td colspan="14"><center><strong>Reimbursments:</strong></center></td>
                    </tr>
                    <tr ng-hide="item.SCDescription=='Special Allowance'">
                        <td class="text-right"><strong>{{item.SCDescription}}</strong></td>
                        <td>
                            <a href="#" buttons="no" ng-show="isEditableColumn(item.SCDescription)" editable-text="item.April">{{ item.April | currency:'&#8377;':0}}</a>
                            <span ng-show="isEditableColumn(item.SCDescription)==false" ng-bind="item.April"></span>
                        </td>
                        <td>
                            <a href="#" buttons="no" ng-show="isEditableColumn(item.SCDescription)" editable-text="item.May">{{ item.May | currency:'&#8377;':0}}</a>
                            <span ng-show="isEditableColumn(item.SCDescription)==false" ng-bind="item.May"></span>
                        </td>
                        <td>
                            <a href="#" buttons="no" ng-show="isEditableColumn(item.SCDescription)" editable-text="item.June">{{ item.June | currency:'&#8377;':0}}</a>
                            <span ng-show="isEditableColumn(item.SCDescription)==false" ng-bind="item.June"></span>
                        </td>
                        <td>
                            <a href="#" buttons="no" ng-show="isEditableColumn(item.SCDescription)" editable-text="item.July">{{ item.July | currency:'&#8377;':0}}</a>
                            <span ng-show="isEditableColumn(item.SCDescription)==false" ng-bind="item.July"></span>
                        </td>
                        <td>
                            <a href="#" buttons="no" ng-show="isEditableColumn(item.SCDescription)" editable-text="item.August">{{ item.August | currency:'&#8377;':0}}</a>
                            <span ng-show="isEditableColumn(item.SCDescription)==false" ng-bind="item.August"></span>
                        </td>
                        <td>
                            <a href="#" buttons="no" ng-show="isEditableColumn(item.SCDescription)" editable-text="item.September">{{ item.September | currency:'&#8377;':0}}</a>
                            <span ng-show="isEditableColumn(item.SCDescription)==false" ng-bind="item.September"></span>
                        </td>
                        <td>
                            <a href="#" buttons="no" ng-show="isEditableColumn(item.SCDescription)" editable-text="item.October">{{ item.October | currency:'&#8377;':0}}</a>
                            <span ng-show="isEditableColumn(item.SCDescription)==false" ng-bind="item.October"></span>
                        </td>
                        <td>
                            <a href="#" buttons="no" ng-show="isEditableColumn(item.SCDescription)" editable-text="item.November">{{ item.November | currency:'&#8377;':0}}</a>
                            <span ng-show="isEditableColumn(item.SCDescription)==false" ng-bind="item.November"></span>
                        </td>
                        <td>
                            <a href="#" buttons="no" ng-show="isEditableColumn(item.SCDescription)" editable-text="item.December">{{ item.December | currency:'&#8377;':0}}</a>
                            <span ng-show="isEditableColumn(item.SCDescription)==false" ng-bind="item.December"></span>
                        </td>
                        <td>
                            <a href="#" buttons="no" ng-show="isEditableColumn(item.SCDescription)" editable-text="item.January">{{ item.January | currency:'&#8377;':0}}</a>
                            <span ng-show="isEditableColumn(item.SCDescription)==false" ng-bind="item.January"></span>
                        </td>
                        <td>
                            <a href="#" buttons="no" ng-show="isEditableColumn(item.SCDescription)" editable-text="item.February">{{ item.February | currency:'&#8377;':0}}</a>
                            <span ng-show="isEditableColumn(item.SCDescription)==false" ng-bind="item.February"></span>
                        </td>
                        <td>
                            <a href="#" buttons="no" ng-show="isEditableColumn(item.SCDescription)" editable-text="item.March">{{ item.March | currency:'&#8377;':0}}</a>
                            <span ng-show="isEditableColumn(item.SCDescription)==false" ng-bind="item.March"></span>
                        </td>
                        <td class="text-bold">{{getCurrentComponentTotal(item) | currency:'&#8377;':0}}</td>
                    </tr>
                    <tr ng-show="item.SCDescription=='Special Allowance'">
                        <td class="text-right"><strong>{{item.SCDescription | currency:'&#8377;':0}}</strong></td>
                        <td>{{paysheets|specialAllowanceByMonth:'April' | currency:'&#8377;':0}}</td>
                        <td>{{paysheets|specialAllowanceByMonth:'May' | currency:'&#8377;':0}}</td>
                        <td>{{paysheets|specialAllowanceByMonth:'June' | currency:'&#8377;':0}}</td>
                        <td>{{paysheets|specialAllowanceByMonth:'July' | currency:'&#8377;':0}}</td>
                        <td>{{paysheets|specialAllowanceByMonth:'August' | currency:'&#8377;':0}}</td>
                        <td>{{paysheets|specialAllowanceByMonth:'September' | currency:'&#8377;':0}}</td>
                        <td>{{paysheets|specialAllowanceByMonth:'October' | currency:'&#8377;':0}}</td>
                        <td>{{paysheets|specialAllowanceByMonth:'November' | currency:'&#8377;':0}}</td>
                        <td>{{paysheets|specialAllowanceByMonth:'December' | currency:'&#8377;':0}}</td>
                        <td>{{paysheets|specialAllowanceByMonth:'January' | currency:'&#8377;':0}}</td>
                        <td>{{paysheets|specialAllowanceByMonth:'February' | currency:'&#8377;':0}}</td>
                        <td>{{paysheets|specialAllowanceByMonth:'March' | currency:'&#8377;':0}}</td>
                        <td class="text-bold">{{getCurrentComponentTotal(item) | currency:'&#8377;':0}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="success">
                        <th>Total</th>
                        <th>{{paysheets|sumByMonth:'April' | currency:'&#8377;':0}}</th>
                        <th>{{paysheets|sumByMonth:'May' | currency:'&#8377;':0}}</th>
                        <th>{{paysheets|sumByMonth:'June' | currency:'&#8377;':0}}</th>
                        <th>{{paysheets|sumByMonth:'July' | currency:'&#8377;':0}}</th>
                        <th>{{paysheets|sumByMonth:'August' | currency:'&#8377;':0}}</th>
                        <th>{{paysheets|sumByMonth:'September' | currency:'&#8377;':0}}</th>
                        <th>{{paysheets|sumByMonth:'October' | currency:'&#8377;':0}}</th>
                        <th>{{paysheets|sumByMonth:'November' | currency:'&#8377;':0}}</th>
                        <th>{{paysheets|sumByMonth:'December' | currency:'&#8377;':0}}</th>
                        <th>{{paysheets|sumByMonth:'January' | currency:'&#8377;':0}}</th>
                        <th>{{paysheets|sumByMonth:'February' | currency:'&#8377;':0}}</th>
                        <th>{{paysheets|sumByMonth:'March' | currency:'&#8377;':0}}</th>
                        <th>&nbsp;</th>
                    </tr>
                    <tr class="info">
                        <th>Download Payslip</th>
                        <th><a href="#"><i class="fa fa-file-pdf-o fa-5"></i></a></th>
                        <th><a href="#"><i class="fa fa-file-pdf-o fa-5"></i></a></th>
                        <th><a href="#"><i class="fa fa-file-pdf-o fa-5"></i></a></th>
                        <th><a href="#"><i class="fa fa-file-pdf-o fa-5"></i></a></th>
                        <th><a href="#"><i class="fa fa-file-pdf-o fa-5"></i></a></th>
                        <th><a href="#"><i class="fa fa-file-pdf-o fa-5"></i></a></th>
                        <th><a href="#"><i class="fa fa-file-pdf-o fa-5"></i></a></th>
                        <th><a href="#"><i class="fa fa-file-pdf-o fa-5"></i></a></th>
                        <th><a href="#"><i class="fa fa-file-pdf-o fa-5"></i></a></th>
                        <th><a href="#"><i class="fa fa-file-pdf-o fa-5"></i></a></th>
                        <th><a href="#"><i class="fa fa-file-pdf-o fa-5"></i></a></th>
                        <th><a href="#"><i class="fa fa-file-pdf-o fa-5"></i></a></th>
                        <th>&nbsp;</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row" ng-show="paysheets.length > 0 && selectedFinancialYear==currentYear">
    <div class="col-lg-12">
        <div class="form-group pull-right">
            <button type="submit" class="btn btn-success" ng-click="updateYearlyPaySheet()">Save</button>
        </div>
    </div>
</div>

<div class="alert alert-dismissible alert-danger" ng-show="paysheets.length <= 0 ">
    No Salary structure defined yet.
</div>


