<div class="row">
    <div class="col-md-12">
        <div class="form-group pull-right">
            <a class="btn btn-success" ng-click="vm.addNewSalaryStructure()">Appraisal Form</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        @Html.Partial("_EmpAppraisalHistory")
    </div>
    <div class="col-md-7">
        @Html.Partial("_EmpAppraisalGraph")
    </div>
</div>

