<div id="modal-add-designation" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <form>
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add/Edit Designation</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="control-label" for="cmbPopupDesgName">Existing Designation</label>&nbsp;<a href="#"><i class="fa fa-pencil-square-o" title="Edit Designation" id="linkEditDesignation" onclick='onclick_linkEditDesignation()'></i></a>
                                @Html.DropDownList("cmbPopupDesgName", new SelectList(ViewBag.Designations, "Value", "Text"), new {  @class = "form-control", id = "cmbPopupDesgName" })
                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="control-label required-field" for="txtDesignationName">Designation Name</label>
                                <input class="form-control" id="txtDesignationName" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-default">Reset</button>
                    <button type="submit" onclick="onclick_AddDesignation();" class="btn btn-success">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>