@using Vserv.Accounting.Common
<fieldset>
    <div class="modal-header">
        <h4 class="modal-title">Employee Change History</h4>
    </div>
    <div class="modal-body">
        <div class="row" ng-show="vm.employeeChangeHistory.length > 0">
            <div class="col-lg-12">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-employee-history" style="width:100%">
                        <thead>
                            <tr>
                                <th>History Id</th>
                                <th>Updated By</th>
                                <th>Updated On</th>
                                <th>Action <i class="fa fa-gear fa-fw"></i></th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="item in vm.employeeChangeHistory">
                            <tr class="odd gradeX">
                                <td>{{item.EmployeeArchiveId}}</td>
                                <td>{{item.UpdatedBy}}</td>
                                <td>{{item.UpdatedDate}}</td>
                                <td><a ng-href="/employee/{{item.EmployeeArchiveId}}/compare" target="_blank">Compare with Current</a></td>
                                @*<td>
                                        <a ng-click="vm.compareWithCurrent(item.EmployeeArchiveId)" title="Click to Compare with current employee detail" class="btn btn-xs btn-block btn-primary">Compare with Current</a>
                                    </td>*@
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="alert alert-dismissible alert-danger" ng-hide="vm.employeeChangeHistory.length > 0">
            <strong>Oh snap!</strong> There are no history available for this Employee.
        </div>
        <!-- /.row -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" ng-click="$dismiss()">Close</button>
    </div>
</fieldset>
<script type="text/javascript">
    $(function () {
        $('#dataTables-employee-history').DataTable({
            responsive: true,
            select: true,
            processing: true
        });
    })
</script>
